@font-face {
    font-family: 'Sansation';
    src: url("../src/sansation/Sansation_Light.ttf") format("truetype");
}

@font-face {
    font-family: "Sansation_regular";
    src: url(../src/sansation/Sansation_Regular.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



/*  lightbox    */


HTML CSS Result Skip Results Iframe EDIT ON body {
    background-color: #F9E79F;
}

/*L'OPACITÉ DE LA VIGNETTE CHANGE LORS DU HOVER*/
img:hover {
    opacity: 0.8;
    transition: opacity 0.9s;
}


/*LE STYLE DU TEXTE CLICK TO ZOOM*/
.click {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 10;
    color: white;
    background-color: #0708a8;
    font-size: 1em;
    font-family: "Lucida Console", Courier, monospace;
    opacity: 0;
    /*opacity 0 car le texte ne doit pas être affiché avant le hover*/
}

.box:hover .click {
    opacity: 1;
    /*le texte passe à opacity 1 et devient visible*/
    transition: opacity 0.9s;
}


/*flexbox*/

.conteneur-flexbox {
    max-width: 650px;
    margin: 100px auto 0 auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.box {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid #838383;
}



/*LIGHTBOX*/

body:after {
    content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/265602/close.png) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/265602/loading.gif) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/265602/prev.png) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/265602/next.png);
    display: none;
}

body.lb-disable-scrolling {
    overflow: hidden;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    /* Image border */
    border: 4px solid white;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    /* Background color behind image.
     This is visible during transitions. */
    background-color: white;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/265602/loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container>.nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev,
.lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/265602/prev.png) left 48% no-repeat;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/265602/next.png) right 48% no-repeat;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: white;
    font-family: "work_sans", sans-serif;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
    font-family: "work_sans", sans-serif;
}

.lb-data .lb-caption {
    font-family: "work_sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-caption a {
    color: #4ae;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/265602/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}


/*    fin lightbox*/






.brand {
    font-weight: bold;
    font-size: 20px;
    padding-left: 20vh;
}

.logo {
    margin-right: 5vh;
    position: relative;
    display: inline-block;

}

.format {
    border-radius: 100px;
    width: 25%;
    margin-left: 20vh;

}

.logo .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0px 0px 12px -3px gray;



}

.logo:hover .img-top {
    display: inline;


}

.nav__wrapper {
    padding-right: 20vh;
    list-style: none;
    text-decoration: none;
}

.navbarbox {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.site-header {
    width: 100%;
    left: 0px;
    position: relative;
    background-color: #ffffff;
}

.site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 33px 0px black;
    position: relative;
    z-index: 2;
}

@media (min-width: 600px) {
    .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 600px) {
    .nav__wrapper {
        display: flex;
        position: relative;
        z-index: 2;
    }
}

@media (max-width: 599px) {
    .nav__wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: -1;
        background-color: #d9f0f7;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }

    .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

.nav__item a {
    display: block;
    padding: 1.5rem 1rem;
    font-family: "Sansation";
    color: black;
    text-decoration: none;
}

.nav__toggle {
    display: none;
}

@media (max-width: 599px) {
    .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}


/*-------------------------------------------------------------------css first place ---------------------------------*/

.button {
    background-color: #E6C7C2;
    border: none;
    border-radius: 20px 20px 20px 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    width: 225px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
}

.imgaiguille {
    display: block;
    margin-left: auto;
    /* margin-right: auto; */
    /* height: 100vh; */
    width: 45%;
}

.container {
    position: relative;
    background: url("../src/images/robeNoire.jpg") no-repeat;
    background-size: cover;
    display: flex;

    background-size: 70%;

}

.colonegauche {
    width: 50%;
    height: auto;
}

.colonedroite {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.article {
    z-index: 20;
    position: absolute;
    width: 30%;
    right: 2%;
}

.firstparagraphe {
    text-align: justify;
    font-family: sans-serif;
    font-size: 13px;
    height: auto;
    right: 0%;
    margin: 20px;
}

.texte_entete {
    width: 60%;
    text-align: center;
    font-family: "Sansation_regular";
    font-size: 20px;
    height: auto;
    right: 0%;
}


/*...................H2....................*/

.titreH3 {
    text-align: center;
    justify-content: center;
}

h3 {
    font-family: "Sansation_regular";
    font-size: 20px;
}


/*caroussel*/
html,
body,
main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.gallery {
    width: 100%;
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.gallery-item {
    height: 60%;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 20%;
    z-index: 0;
}

.gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
    height: 80%;
    opacity: 1;
    width: 30%;
    z-index: 1;
}

.gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    /* box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1); */
    height: 100%;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    z-index: 2;
}

.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    margin: 0 20px;
    padding: 0 12px;
    text-transform: capitalize;
}

.gallery-controls button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

.gallery-controls-previous::before {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    height: 4px;
    left: -10px;
    padding: 2px;
    position: absolute;
    top: 0;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 4px;
}

.gallery-controls-previous:hover::before {
    left: -18px;
}

.gallery-controls-next {
    position: relative;
}

.gallery-controls-next::before {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    height: 4px;
    padding: 2px;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 4px;
}

.gallery-controls-next:hover::before {
    right: -18px;
}

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background: #555;
}







/* 


.carousselrea {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e5e5;
    width: auto;
    height: 200vh;
}

#carousel {
    width: 80%;
    position: relative;
    height: 100%;
 
    overflow: hidden;
    margin-top: 5vh;
  
}



#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
    background-color: white;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.border_radius {
   
    border-radius: 10px 10px 10px 10px !important;
    height:40%;
    box-shadow: rgb(65, 65, 65) 0px 15px 10px -18px;
}

.carousselimg {
    background-color: #ffffff;
    width: 400px;
    transition: width 1s;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}




.card_caroussel {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
}

#carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft .carousselimg {
    width: 200px;
}

#carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight .carousselimg {
    width: 200px;
}

#carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}

#carousel div.prev .carousselimg {
    width: 300px;
}

#carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#carousel div.prevLeftSecond .carousselimg {
    width: 200px;
}

#carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}

#carousel div.next .carousselimg {
    width: 300px;
}

#carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#carousel div.nextRightSecond .carousselimg {
    width: 200px;
}

.buttons {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -3%;
    margin-bottom: 5vh;
}

#prev {
    margin-right: 10px;
}

#next {
    margin-left: 10px;
}

.titrecard {
    margin: 0;
    text-align: center;
}

.textecard {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
} */


/* container 3 patchwork */

.container3 {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #E6C7C2;
    justify-content: space-around;
    align-items: center;
}

.article3 {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 30%;
    left: 2%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


/*........patchwork..................*/

.patchwork {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 65%;
    left: 2%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.wrapper_grid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 80vh;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
    background-color: darksalmon;
    background-image: url("../src/images/patchwork.jpg");
}

.box2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 10;
    /* background-color: hotpink; */
    background-image: url("../src/images/filetRose.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.box3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("../src/images/materielRecycle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: green;
}

.box4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
    background-image: url("../src/images/pantalonRose.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: yellow;
}

.box5 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
    background-image: url("../src/images/robeFleurs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: blue;
}

.box6 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 10;
    background-image: url("../src/images/masqueVert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.box7 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 10;
    background-image: url("../src/images/tissus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkviolet;
}

.box8 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 13;
    background-image: url("");
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background-color: darkviolet;
}

.box9 {
    grid-column-start: 11;
    /* add comment */
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 7;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkviolet;
}

.box10 {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 7;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkviolet;
}

.box11 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 13;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkviolet;
}

.box12 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 13;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkviolet;
}

.box13 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 13;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkviolet;
}

.box14 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 10;
    grid-row-end: 13;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkviolet;
}

.buttonform {
    display: flex;
    justify-content: center;

    margin-bottom: 3vh;
}

.button {
    background-color: #ffffff;
    border: none;
    border-radius: 20px 20px 20px 20px;
    color: #E6C7C2;
    font-family: "Sansation";
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    width: 225px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
}

.h2 {
    text-align: center;
    width: 100%;
    font-family: "Sansation_regular";
    font-size: 20px;
    height: auto;
    right: 0%;
    color: white;
    margin: 20px;
}

.h2_2 {
    text-align: center;
    width: 100%;
    font-family: "Sansation_regular";
    font-size: 20px;
    height: auto;
    right: 0%;

    margin: 20px;
}

.textcolor {
    color: white;
    margin: 20px;
    text-align: justify;
}

.textcolor_2 {

    margin: 20px;
    text-align: justify;
}


/*# sourceMappingURL=stylerea.css.map */

/* container 5 */


.container5 {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;

    align-items: center;
}

.article4 {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 75%;
    left: 2%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vh;
}

/*........patchwork..................*/

.patchwork_2 {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    left: 2%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.wrapper_grid_2 {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 90vh;
}

.box1_2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: darksalmon;
    background-image: url("../src/images/patchwork.jpg");
}

.box2_2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    /* background-color: hotpink; */
    background-image: url("../src/images/filetRose.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.box3_2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
    background-image: url("../src/images/materielRecycle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: green;
}

.box4_2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
    background-image: url("../src/images/pantalonRose.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: yellow;
}

.box5_2 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 2;
    background-image: url("../src/images/robeFleurs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: blue;
}

.box6_2 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    background-image: url("../src/images/masqueVert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.box7_2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url("../src/images/tissus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkviolet;
}

.recycling {
    width: 45%;
    padding: 20px;
}

/* Footer */
.color_footer {
    display: flex;
    width: 100%;
    height: 100%;
    background: #E6C7C2;
    color: #ffffff;
    /* flex-wrap: wrap; */
}

.img_logo_rose {
    display: flex;
    justify-content: center;
    /* margin-left: 25px;
                margin-right: 70px; */
}

.trait {
    width: 15px;
    height: 220px;
    margin-top: 50px;
    margin-right: 50px;
    border-left: white solid 4px;
}

.contact {
    width: 190px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    /*align-items: center;
                 flex-wrap: wrap; */
}

.infos_contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 35px;
    /*margin-top: 80px;
                 margin-bottom: 30px; */
}

.titre_infos_contacts {
    width: 190px;
    display: flex;
    /* align-items: start; */
}

/* .nom_prenom {
            }
                margin-bottom: 20px; */
.logo_rose {
    width: 36%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adresse {
    line-height: 18px;
}

.reseaux_sociaux {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
    /* align-items: center;  */
}

.icone_fb {
    width: 20px;
    height: 20px;
    cursor: pointer;

    /* display: flex; */

}

.icone_insta {
    width: 20px;
    height: 20px;
    cursor: pointer;
    /* display: flex; */
}

.buttonform {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    align-content: center;

}

.button_blanc {
    background-color: #E6C7C2;
    border: none;
    border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    width: 225px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
}


.button {
    background-color: #fff;
    border: none;
    border-radius: 20px 20px 20px 20px;
    color: #E6C7C2;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    width: 225px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
}




@media screen and (max-width: 767px) {
    .color_footer {
        flex-direction: column;
        height: auto;
    }
}

@media screen and (max-width: 767px) {
    .logo_rose {
        margin-left: 130px;
    }

}

@media screen and (max-width: 767px) {
    .contact {
        margin-left: 210px;
        margin-top: 5px;
    }

}

@media screen and (max-width: 767px) {
    .trait {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    .bouton_contact {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    .buttonform {
        margin-top: 50px;
    }

}