/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}










/* début CSS */



@font-face {
	font-family: 'Sansation';
	src: url("../src/sansation/Sansation_Light.ttf") format("truetype");
}

@font-face {
	font-family: "Sansation_regular";
	src: url(../src/sansation/Sansation_Regular.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
	background-color: #F1F2F4;
}

/* Nav */
.brand {
	font-weight: bold;
	font-size: 20px;
	padding-left: 20vh;
}

.logo {
	padding-left: 5vh;
}

.nav__wrapper {
	padding-right: 20vh;
	list-style: none;
	text-decoration: none;
}

.navbarbox {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.site-header {
	width: 100%;
	left: 0px;
	position: relative;
	background-color: #ffffff;
}

.site-header__wrapper {
	padding-top: 1rem;
	padding-bottom: 1rem;
	box-shadow: 0px 0px 33px 0px black;
	position: relative;
	z-index: 2;
}

@media (min-width: 600px) {
	.site-header__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 0;
		padding-bottom: 0;
	}
}

@media (min-width: 600px) {
	.nav__wrapper {
		display: flex;
		position: relative;
		z-index: 2;
	}
}

@media (max-width: 599px) {
	.nav__wrapper {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: -1;
		background-color: #d9f0f7;
		visibility: hidden;
		opacity: 0;
		transform: translateY(-100%);
		transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	}

	.nav__wrapper.active {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}

.nav__item a {
	display: block;
	padding: 1.5rem 1rem;
	font-family: "Sansation";
	color: black;
	text-decoration: none;
}

.nav__toggle {
	display: none;
}

@media (max-width: 599px) {
	.nav__toggle {
		display: block;
		position: absolute;
		right: 1rem;
		top: 1rem;
	}
}

/* Fin nav */



h2 {
	text-align: center;
	font-size: 1.5em;
	padding-top: 4%;
	padding-bottom: 3%;
}

h3 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 0px;
}




/* Section le présentation du club */
.presentation {
	background: white;
	width: auto;
	height: auto;
	padding-top: 40px;
	padding-bottom: 150px;
	box-shadow: rgb(167, 163, 163) -5px 5px 25px 5px;
	font-family: "Sansation";
}

@media screen and (max-width: 767px) and (min-width: 768px) and (max-width: 1280px) {
	.presentation{
		width: auto;
		height: auto;
		text-align: center;
		background-color: #F1F2F4;
		box-shadow: rgb(167, 163, 163)-1px 1px 15px 1px;
	}	
}

.titre_events {
	margin-bottom: 50px;
}

.texte_evenement {
	margin-left: 200px;
	margin-right: 200px;
	line-height: 30px;
	text-align: center;
}

@media screen and (max-width: 767px) {
	.texte_evenement{
		margin-left: 15px;
		margin-right: 15px;
	}
}

.presentation_club {
	margin-left: 200px;
	margin-right: 200px;
	line-height: 30px;
	text-align: center;
}
 /*fin présentation du club */






/* titre présidente */
.zone_presidente {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-family: "Sansation";
}
/* @media screen and (max-width: 767px) {
	
	.zone_presidente {
	margin-top: 20px;}
} */
/* fin titre présidente */

/* placement de la card centrale */
.block_centre {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
	margin-bottom: 80px;
	flex-wrap: wrap;
}

 @media screen and (max-width: 767px) and (min-width: 768px) and (max-width: 1280px){
	.block_centre {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

	}
}   
/* fin placement card centrale */




.titre_membres2 {
	padding-bottom: 40px;
}

.titre {
	padding-bottom: 40px;
}








/* Conception card */
.card {
	width: 500px;
	height: 250px;
	/* margin-left: 100px; */
	background: white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: grey -5px 5px 25px 5px;
}

.img_jeanne {
	margin-top: 25px;
	margin-left: 35px;
}

.jeanne {
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-right: 215px;
}

.membre {
	margin-bottom: 10px;
}

.realisation {
	margin-bottom: 10px;
}

.contenu_carte {
	margin-top: 5px;
	margin-left: 25px;
	margin-right: 25px;
	flex-wrap: wrap;
}

/* Placement des articles dans la card*/

.card_direction {
	display: flex;
	justify-content: space-around;
	align-items: center;
} 
/* fin placement des articles dans la card*/


/* Fin conception card */










.block_membres {
	display: flex;
	justify-content: space-around;
	margin-top: 150px;
	margin-bottom: 80px;
	flex-wrap: wrap;
}



.font {
	margin-left: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	/* text-align: center; */
	font-family: "Sansation";
}
@media screen and (max-width: 767px) {
	.font {
margin-left: 10px;
margin-bottom: 10px;

	}
}


/* Section notre atelier  */
.titre_atelier {
	text-align: center;
}

.atelier {
	display: flex;
	width: auto;
	height: 1000px;
	flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
	.atelier {
height: auto;
	}
}

.photo_texte-atelier1 {
	display: flex;
	margin-left: 80px;
	padding-top: 50px;
	flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
	.photo_texte-atelier1 {
		width: 400px;
		text-align: center;
		margin-left: 5px;
		margin-top: 20px;
	}
}

.texte_1 {
	width: 600px;
	margin-left: 50px;
	line-height: 35px;
	margin-top: 50px;
	font-family: "Sansation";
}
@media screen and (max-width: 767px) {
	.texte_1 {
		width: 400px;
		text-align: center;
		margin-left: 5px;
		margin-top: 20px;
	}
}

.bgc-white {
	background-color: #fff;
}

.gutter-rl-50 {
	margin: 0 50px;
}

.photo_texte-atelier2 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
	.photo_texte-atelier2 {
		width: 400px;
		text-align: center;
		margin-left: 5px;
		margin-top: 20px;
	}
}

.photo_atelier {
	width: 500px;
	border-radius: 20px 20px 20px 20px;
}
@media screen and (max-width: 767px) {
	.photo_atelier {
		width: 400px;
	}
}

.texte_2 {
	width: 600px;
	margin-right: 25px;
	line-height: 35px;
	text-align: end;
	font-family: "Sansation";
}
@media screen and (max-width: 767px) {
	.texte_2 {
		width: 400px;
		text-align: center;
		margin-left: 5px;
		margin-top: 20px;
	}
}

/*Fin section notre atelier */


/* Footer */
.color_footer {
	display: flex;
	width: 100%;
	height: 310px;
	background: #E6C7C2;
	color: #ffffff;
	/* flex-wrap: wrap; */
}

.img_logo_rose {
	display: flex;
	justify-content: center;
	width: 300px;
	height: 300px;
	/* margin-left: 25px;
	margin-right: 70px; */
}

.trait {
	width: 15px;
	height: 220px;
	margin-top: 50px;
	margin-right: 50px;
	border-left: white solid 4px;
}

.contact {
	width: 190px;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.infos_contact {
	display: flex;
	flex-direction: column;
	align-items: start;
	line-height: 35px;
}

.titre_infos_contacts {
	width: 190px;
	display: flex;
}

.adresse {
	line-height: 18px;
}

.reseaux_sociaux {
	display: flex;
	margin-top: 15px;
}

.icone_fb {
	width: 20px;
	height: 20px;
	margin-right: 15px;
	cursor: pointer;
}

.icone_insta {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.buttonform {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 150px;
	flex-wrap: wrap;
}

.button {
	background-color: #fff;
	border: none;
	border-radius: 20px 20px 20px 20px;
	color: #E6C7C2;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	width: 225px;
	height: 30px;
	text-align: center;
	padding-top: 7px;
}




@media screen and (max-width: 767px) {
	.color_footer {
		flex-direction: column;
		height: auto;
	}
}

@media screen and (max-width: 767px) {
	.logo_rose {
		margin-left: 120px;
	}

}

@media screen and (max-width: 767px) {
	.contact {
		margin-left: 210px;
		margin-top: 5px;
	}

}

@media screen and (max-width: 767px) {
	.trait {
		display: none;
	}

}

@media screen and (max-width: 767px) {
	.bouton_contact {
		display: none;
	}

}

@media screen and (max-width: 767px) {
	.buttonform {
		margin-top: 50px;
		margin-bottom: 20px;
	}

}

