/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Début CSS */
@font-face {
	font-family:'Sansation';
	src: url("../src/sansation/Sansation_Light.ttf") format("truetype");
}

@font-face {
	font-family: "Sansation_regular";
	src: url(../src/sansation/Sansation_Regular.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
    background: white;
}

/* .color {
    width: 800px;
    height: 1000px;
background: rgb(136, 95, 80);
} */

/* Patchwork */
.patchwork {
    width: 650px;
    height: 550px;
    margin-left: 100px;
    /* background: coral; */
}

.tableau {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 450px;
    height: 500px;
    margin-left: 30px;
    margin-top: 50px;
    /* background: plum; */
}

.un {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    background-image:url(../src/images/Rose.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.deux {
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image:url(../src/images/Rose.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.trois {
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image:url(../src/images/Rose.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.quatre {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    background-image:url(../src/images/Rose.png);
    background-repeat: no-repeat;
    background-size: cover;
} 

.cinq {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 9;
    background-image:url(../src/images/Rose.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.six{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;
    background-image:url(../src/images/Rose.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sept{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 9;
    background-image:url(../src/images/Rose.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Fin patchwork */


/* Début renseignements */
.renseignement {
    width: 450px; 
    margin-left: 130px;

}

.case {
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    border-radius: 5px 5px 5px 5px;
    background: #F1F2F4;
    font-family: "Roboto";}


.description {
    /* width: 500px; */
    height: 150px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #F1F2F4;
    font-family: "Roboto";
}

/* Fin renseignement*/

/* Dernière image */
.img_bas {
width: 450px;
height: 200px;
margin-top: 50px;
margin-left: 130px;
margin-bottom: 200px;
border-radius: 20px 20px 20px 20px;
}
/* Fin dernière image */
