/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Début CSS */

@font-face {
	font-family: 'Sansation';
	src: url("../src/sansation/Sansation_Light.ttf") format("truetype");
}

@font-face {
	font-family: "Sansation_regular";
	src: url(../src/sansation/Sansation_Regular.ttf) format("truetype");
}


body {
	background-color: #F1F2F4;
}
h2 {
	text-align: center;
	font-size: 1.5em;
	padding-top: 4%;
	padding-bottom: 3%;
}


/* NAV */


h2 {
	text-align: center;
	font-size: 1.5em;
	padding-top: 4%;
	padding-bottom: 3%;
}


/* NAV */
.brand {
	font-weight: bold;
	font-size: 20px;
	padding-left: 20vh;
}
.logo{
	margin-right: 5vh;
	position: relative;
	display: inline-block;
}

.format{
	border-radius: 100px;
	width: 25%;
	margin-left:20vh;


.logo {
	margin-right: 5vh;
	position: relative;
	display: inline-block;
}

.format {
	border-radius: 100px;
	width: 25%;
	margin-left: 20vh;

}

.logo .img-top {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	box-shadow: 0px 0px 12px -3px gray;
}


.logo:hover .img-top {
	display: inline;


.nav__wrapper {
	padding-right: 20vh;
	list-style: none;
	text-decoration: none;
}

.navbarbox {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.site-header {
	width: 100%;
	left: 0px;
	position: relative;
	background-color: #ffffff;
}

.site-header__wrapper {
	padding-top: 1rem;
	padding-bottom: 1rem;
	box-shadow: 0px 0px 33px 0px black;
	position: relative;
	z-index: 2;
}

@media (min-width: 600px) {
	.site-header__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 0;
		padding-bottom: 0;
	}
}

@media (min-width: 600px) {
	.nav__wrapper {
		display: flex;
		position: relative;
		z-index: 2;
	}
}

@media (max-width: 599px) {
	.nav__wrapper {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: -1;
		background-color: #d9f0f7;
		visibility: hidden;
		opacity: 0;
		transform: translateY(-100%);
		transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	}
	.nav__wrapper.active {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}

.nav__item a {
	display: block;
	padding: 1.5rem 1rem;
	font-family: "Sansation";
	color: black;
	text-decoration: none;
}

.nav__toggle {
	display: none;
}

@media (max-width: 599px) {
	.nav__toggle {
		display: block;
		position: absolute;
		right: 1rem;
		top: 1rem;
	}
}

/* FIN NAV */


/* Début présentation des évènements */
.presentation {
	background: white;
	width: auto;
	height: auto;
	padding-top: 40px;
	padding-bottom: 150px;
	box-shadow: rgb(167, 163, 163) -5px 5px 25px 5px;
	font-family: "Sansation";
}

@media screen and (max-width: 767px) and (min-width: 768px) and (max-width: 1280px) {
	.presentation {
		width: auto;
		height: auto;
		text-align: center;
		background-color: #F1F2F4;
		box-shadow: rgb(167, 163, 163)-1px 1px 15px 1px;
	}
}

.titre_events {
	margin-bottom: 50px;
}

.texte_evenement {
	margin-left: 200px;
	margin-right: 200px;
	line-height: 30px;
	text-align: center;
}

@media screen and (max-width: 767px) {
	.texte_evenement {
		margin-left: 15px;
		margin-right: 15px;
	}
}

/* FIN présentation des évènements*/


/* bouton 'voir l'evènement' */
.buttonform {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}


.button {
	background-color: #E6C7C2;
	border: none;
	border-radius: 20px 20px 20px 20px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	width: 225px;
	height: 30px;
	text-align: center;
	padding-top: 7px; 
}

/* FIN bouton 'voir l'evènement' */

/* titre qui sépare les style d'atelier */
.zone_atelier {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-family: "Sansation";
}

@media screen and (max-width: 767px) {
	.zone_atelier {
		margin-top: 30px;
	}
}

/* FIN titre qui sépare les style d'atelier */


/* FIN titre qui sépare les style d'atelier */
@media screen and (max-width: 767px) and (min-width: 768px) and (max-width: 1280px){
	.atelier {
		width: auto;
	}
}

/* dates/lieu/themes en gras */
.bold {
	font-weight: bold;
	margin-left: 50px;
}

/* FIN dates/lieu/themes en gras*/


/* position date/lieu */
.bold_date {
	padding-top: 20px;
	margin-bottom: 10px;
}

/* FIN position date/lieu*/

/* alignement date/lieu */
.texte_lieu_div {
	display: flex;
	padding-top: 20px;
	margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
	.texte_lieu_div {
		display: flex;
		flex-direction: column;
		margin-left: 25%;
	}
}

.texte_lieu {
	padding-top: 20px;
	margin-bottom: 10px;
	margin-left: 13px;
}

/* fin alignement date/lieu  */


/* position theme et texte */
.themeTexte {
	display: flex;
	padding-top: 20px;
	margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
	.themeTexte {
		display: flex;
		flex-direction: column;	
	} 
}

.texteLorem {
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 10px;
	padding-top: 3px;
	line-height: 30px;
	text-align: center;
}

.bold_theme {
	padding-top: 9px;
	margin-bottom: 10px
}
@media screen and (max-width: 767px) {
	.bold_theme {
		margin-left: 45%;
	}
}


/* fin position theme et texte */


/* container article qui presente 1 evènement */
.presentation_events {
	background: white;
	width: auto;
	height: 320px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	padding-bottom: 150px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: rgb(167, 163, 163) -5px 5px 25px 5px;
	font-family: "Sansation";
}

@media screen and (max-width: 767px) {
	.presentation_events {
		background: #F1F2F4;
		width: auto;
		height: auto;
		border-radius: 20px 20px 20px 20px;
		box-shadow: rgb(167, 163, 163) -5px 5px 25px 5px;
	}
}
/* fin container article qui presente 1 evènement */


/* fin container article qui presente 1 evènement */


/* image seule */
.img_events {
	width: 350px;
	height: 180px;
	border-radius: 20px 20px 20px 20px;
}

/* fin image seule*/

/* bloc 3 images */
.imgEvents {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 40px;
	margin-bottom: auto;
}

@media screen and (max-width: 767px) {
	.img_events {
		margin-top: 30px;
	}
}
/* fin bloc 3 images*/


/* FOOTER */
.color_footer {
	display: flex;
	width: 100%;
	height: 310px;
	background: #E6C7C2;
	color: #ffffff;
}

.img_logo_rose {
	display: flex;
	justify-content: center;
	width: 300px;
	height: 300px;
	/* margin-left: 25px;
	margin-right: 70px; */
}

.trait {
	width: 15px;
	height: 220px;
	margin-top: 50px;
	margin-right: 50px;
	border-left: white solid 4px;
}

.contact {
	width: 190px;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.infos_contact {
	display: flex;
	flex-direction: column;
	align-items: start;
	line-height: 35px;
}

.titre_infos_contacts {
	width: 190px;
	display: flex;
}

.adresse {
	line-height: 18px;
}

.reseaux_sociaux {
	display: flex;
	margin-top: 15px;
}

.icone_fb {
	width: 20px;
	height: 20px;
	margin-right: 15px;
	cursor: pointer;
}

.icone_insta {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.buttonform_1 {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 150px;
	flex-wrap: wrap;
}

.button_1 {
	background-color: #fff;
	border: none;
	border-radius: 20px 20px 20px 20px;
	color: #E6C7C2;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	width: 225px;
	height: 30px;
	text-align: center;
	padding-top: 7px;
}




@media screen and (max-width: 767px) {
	.color_footer {
		flex-direction: column;
		height: auto;
	}
}

@media screen and (max-width: 767px) {
	.logo_rose {
		margin-left: 60px;
	}

}

@media screen and (max-width: 767px) {
	.contact {
		margin-left: 130px;
		margin-top: 5px;
	}

}

@media screen and (max-width: 767px) {
	.trait {
		display: none;
	}

}

@media screen and (max-width: 767px) {
	.bouton_contact {
		display: none;
	}

}

@media screen and (max-width: 767px) {
	.buttonform_1 {
		margin-top: 25px;
		margin-bottom: 20px;
	}
}

